/* .carousel{
  overflow: hidden;
} */

/* .mantine-Carousel-viewport{
  height: max-content;
}

.mantine-Carousel-container{
  height: max-content;
}

.mantine-Carousel-slide{
  height: max-content;
} */

.slide {
  height: max-content;
}

.control {
  background-color: rgba(174, 170, 170, 0.35);
  color: white;
  opacity: 100%;
}

.controls {
  color: blue;
}